<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    As you add to this URDF, please be aware that both the robot and
    simulation include it. You must retain compatibility with all of
    the following launch files:

    dingo_viz/launch/view_model.launch
    dingo_gazebo/launch/dingo_world.launch
    dingo_base/launch/base.launch
  -->

  <!-- If enabled, generate the LASER payload (by default, a SICK LMS111). -->
  <xacro:if value="$(optenv DINGO_LASER 0)">
    <xacro:if value="$(optenv DINGO_LASER_HOKUYO 0)">
      <xacro:include filename="$(find dingo_description)/urdf/accessories/hokuyo_ust10.urdf.xacro" />
      <xacro:hokuyo_ust10_mount prefix="$(optenv DINGO_LASER_MOUNT front)"
                          topic="$(optenv DINGO_LASER_TOPIC front/scan)" />

      <joint name="$(optenv DINGO_LASER_MOUNT front)_laser_mount_joint" type="fixed">
        <origin xyz="$(optenv DINGO_LASER_OFFSET 0 0 0)"
                rpy="$(optenv DINGO_LASER_RPY 0 0 0)" />
        <parent link="$(optenv DINGO_LASER_MOUNT front)_mount" />
        <child link="$(optenv DINGO_LASER_MOUNT front)_laser_mount" />
      </joint>
    </xacro:if>

    <xacro:unless value="$(optenv DINGO_LASER_HOKUYO 0)">
      <xacro:include filename="$(find dingo_description)/urdf/accessories/sick_lms1xx_mount.urdf.xacro" />
      <xacro:sick_lms1xx_mount prefix="$(optenv DINGO_LASER_MOUNT front)"
                         topic="$(optenv DINGO_LASER_TOPIC front/scan)"/>

      <joint name="$(optenv DINGO_LASER_MOUNT front)_laser_mount_joint" type="fixed">
        <origin xyz="$(optenv DINGO_LASER_OFFSET 0 0 0)"
                rpy="$(optenv DINGO_LASER_RPY 0 0 0)" />
        <parent link="$(optenv DINGO_LASER_MOUNT front)_mount" />
        <child link="$(optenv DINGO_LASER_MOUNT front)_laser_mount" />
      </joint>
    </xacro:unless>
  </xacro:if>

  <xacro:if value="$(optenv DINGO_REALSENSE 0)">
    <xacro:property name="rs_model" value="$(optenv DINGO_REALSENSE_MODEL d435)" />

    <xacro:if value="${rs_model == 'd435'}">
      <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
      <xacro:sensor_d435 parent="$(optenv DINGO_REALSENSE_MOUNT front)_mount"
                         name="$(optenv DINGO_REALSENSE_MOUNT front)_realsense">
        <origin xyz="$(optenv DINGO_REALSENSE_OFFSET 0 0 0)" rpy="$(optenv DINGO_REALSENSE_RPY 0 0 0)" />
      </xacro:sensor_d435>

      <include filename="$(find dingo_description)/urdf/accessories/intel_realsense.urdf.xacro" />
      <xacro:realsense_gazebo
        prefix="$(optenv DINGO_REALSENSE_MOUNT front)"
        frame="$(optenv DINGO_REALSENSE_MOUNT front)_realsense_link"
        topic="$(optenv DINGO_REALSENSE_TOPIC realsense)"
        h_fov="1.5184351666666667"
        v_fov="1.0122901111111111"
        min_range="0.105"
        max_range="8.0"
        width="640"
        height="480"
        update_rate="30" />
    </xacro:if>

    <xacro:if value="${rs_model == 'd435i'}">
      <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />
      <xacro:sensor_d435i parent="$(optenv DINGO_REALSENSE_MOUNT front)_mount"
                         name="$(optenv DINGO_REALSENSE_MOUNT front)_realsense">
        <origin xyz="$(optenv DINGO_REALSENSE_OFFSET 0 0 0)" rpy="$(optenv DINGO_REALSENSE_RPY 0 0 0)" />
      </xacro:sensor_d435i>

      <include filename="$(find dingo_description)/urdf/accessories/intel_realsense.urdf.xacro" />
      <xacro:realsense_gazebo
        prefix="$(optenv DINGO_REALSENSE_MOUNT front)"
        frame="$(optenv DINGO_REALSENSE_MOUNT front)_realsense_link"
        topic="$(optenv DINGO_REALSENSE_TOPIC realsense)"
        h_fov="1.5184351666666667"
        v_fov="1.0122901111111111"
        min_range="0.105"
        max_range="8.0"
        width="640"
        height="480"
        update_rate="30" />

      <!--
        Add the IMU plugin
        The realsense2_camera driver splits the accelerometer and gyroscope data
        across 2 topics: accel and gyro
      -->
      <gazebo>
        <plugin name="d435_accel" filename="libhector_gazebo_ros_imu.so">
          <robotNamespace>/</robotNamespace>
          <updateRate>30.0</updateRate>
          <bodyName>$(optenv DINGO_REALSENSE_MOUNT front)_realsense_link</bodyName>
          <topicName>$(optenv DINGO_REALSENSE_TOPIC realsense)/accel/sample</topicName>
          <accelDrift>0.005 0.005 0.005</accelDrift>
          <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
          <rateDrift>0.005 0.005 0.005 </rateDrift>
          <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
          <headingDrift>0.005</headingDrift>
          <headingGaussianNoise>0.005</headingGaussianNoise>
        </plugin>
        <plugin name="d435_gyro" filename="libhector_gazebo_ros_imu.so">
          <robotNamespace>/</robotNamespace>
          <updateRate>30.0</updateRate>
          <bodyName>$(optenv DINGO_REALSENSE_MOUNT front)_realsense_link</bodyName>
          <topicName>$(optenv DINGO_REALSENSE_TOPIC realsense)/gyro/sample</topicName>
          <accelDrift>0.005 0.005 0.005</accelDrift>
          <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
          <rateDrift>0.005 0.005 0.005 </rateDrift>
          <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
          <headingDrift>0.005</headingDrift>
          <headingGaussianNoise>0.005</headingGaussianNoise>
        </plugin>
      </gazebo>
    </xacro:if>

    <xacro:if value="${rs_model == 'd415'}">
      <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />
      <xacro:sensor_d415 parent="$(optenv DINGO_REALSENSE_MOUNT front)_mount"
                         name="$(optenv DINGO_REALSENSE_MOUNT front)_realsense">
        <origin xyz="$(optenv DINGO_REALSENSE_OFFSET 0 0 0)" rpy="$(optenv DINGO_REALSENSE_RPY 0 0 0)" />
      </xacro:sensor_d415>

      <include filename="$(find dingo_description)/urdf/accessories/intel_realsense.urdf.xacro" />
      <xacro:realsense_gazebo
        prefix="$(optenv DINGO_REALSENSE_MOUNT front)"
        frame="$(optenv DINGO_REALSENSE_MOUNT front)_realsense_link"
        topic="$(optenv DINGO_REALSENSE_TOPIC realsense)"
        h_fov="1.1344640137963142"
        v_fov="0.6981317007977318"
        min_range="0.3"
        max_range="5.0"
        width="640"
        height="480"
        update_rate="30" />
    </xacro:if>

    <xacro:if value="${rs_model == 'd455'}">
      <!-- TODO: not officially supported yet -->
    </xacro:if>

    <xacro:if value="${rs_model == 'l515'}">
      <!-- TODO: not officially supported yet -->
    </xacro:if>
  </xacro:if>

</robot>
